# Ignore web/report assets everywhere
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.do linguist-detectable=false

# Exclude generated simulation/report folders
sim/** linguist-vendored
reports/** linguist-vendored
docs/** linguist-vendored
results/** linguist-vendored
logs/** linguist-vendored
